/*1? Importing external fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*1? Setting the rem size and getting rid of the default styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
html {
    font-size: 62.5%; /*1? Each rem is equal to 10px*/
}

/*1? Custom colors */ /*The colors are also impremented on bootstrap*/
:root {
    --clear-white: #FFFFFF;

    --light-gray: #DADADA;
    --dark-gray: #7A7A7A;
    --light-black: #282828;

    --dark-blue: #1E2B32;

    --main-color: #72DF1D;
    --secondary-color: #CFECA0;
}

/*^ NavBar component */
.nav-bar {
    font-size: 1.8rem; /* 18px */
    margin: 10px 115px 20px 130px;
}
.nav-circle {
    margin-right: 36px;
    padding: 7px 22px 6px 22px;
    border-radius: 20px;

    font-size: 1.8rem; /* 18px */
    transition: 0.5s;
}
.nav-circle:hover {
    margin-right: 30px;
    padding: 7px 28px 6px 28px;
    border-radius: 10px;
}
.nav-item-top {
    margin-right: 30px;
    padding: 2px 8px 0px 8px;
    border-radius: 20px 20px 0px 0px;
}
.nav-item {
    margin-right: 30px;
    padding: 2px 8px 0px 8px;
}
.nav-item-bottom {
    margin-right: 30px;
    padding: 2px 8px 0px 8px;
    border-radius: 0px 0px 20px 20px;
}
.nav-bar a:hover {
    color: var(--main-color) !important;
    text-decoration: underline;
    -webkit-text-stroke: 0.5px var(--main-color);
}
.navbar-toggler-icon {
  font-size: 2rem; /* 20px */
}

  


/*^ BigRectangle component */

.big-rectangle img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 65%;
}

  /*^ MainText component*/
  .main-container {
    margin-left: 130px;
    margin-top: 92px;
  }
  .title {
    font-size: 5.2rem; /* 52px */
    line-height: 105.5%;
  }

  .paragraph {
    font-size: 2rem; /* 20px */
    line-height: 105.5%;
  }

  .roboto { font-family: 'Roboto Serif', serif; }

  .button {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 1.8rem; /* 18px */
    font-weight: bold;

    padding: 8px 30px 6px 30px;
    border-radius: 20px;
    border: transparent;
    transition: 0.5s ;
  }
  .button:hover {
    margin-left: 0;
    font-size: 1.8rem; /* 16px */

    padding: 8px 36px 6px 36px;
    border-radius: 15px;
    background-color: var(--secondary-color) !important;
    color: var(--light-black) !important;
    text-decoration: underline;
  }

  .white-transparent-bg {
    border-radius: 15px;
    padding: 0px 10px;
    width: fit-content;

    background-color: rgba(255, 255, 255, 0.6);
  }

  /*^ Tags*/
  .tag-container {
    margin-left: 130px;
    margin-top: 130px;
  }

  .tag {
    min-width: 100px;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 6px 20px 4px 20px;
    border-radius: 6px;
    margin-right: 10px;
    margin-top: 10px;

    font-size: 1.8rem; /* 18px */
    font-family: 'Roboto Serif', serif;
    font-weight: 800;
  }

  /*^ Social media*/
  .social {
    width: 620px;
    display: flex;
    justify-content: center;
  }

  .social a {
    padding: 10px;
  }

  .social a svg {
    transition: 0.3s;
  }

  .social a:hover svg {
    color: var(--main-color) !important;
    transform: rotate(10deg);
  }
  
  .social-bg {
    background-color: #282828;
    border-radius: 20px;
  }

  /*^ Footer component */
  footer { margin-top: 180px; }

  footer .footer-father {
    margin: 0 5%;
  }

  footer a {
    font-size: 2.6rem; /* 26px */
    font-weight: 500;
    text-decoration: none;
  }

  footer p {
    font-size: 2.2rem; /* 22px */
  }

  footer > hr {
    width: 90%;
    margin: 30px 5% 0px 5%;
    border-top: 2px solid var(--dark-blue);
    opacity: 1;
  }

  footer .row-spacing{
    padding:  45px 50px 0 50px;
  }

  footer .down-spacing{
    padding:  30px 200px;
  }

  footer .down-spacing > p{
    margin: auto;
  }

  footer .row-links{
    margin: 50px auto;
    text-align: center;
  }

  footer .row-text{
    margin: 50px auto;
  }

  footer a:hover {
    color: var(--main-color) !important;
    text-decoration: underline;
    -webkit-text-stroke: 0.5px var(--main-color);
    text-shadow: 2px 0 3px var(--dark-blue);
    transition: 0.3s;
  }

/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 820px) {
    /*^ MainText component*/
    .main-container {
        margin-left: 45px;
    }

        /*^ NavBar component */
    .nav-bar {
        font-size: 1.6rem; /* 16px */
        margin: 30px 80px 0px 30px;
    }

        /*^ BigRectangle component */

    .big-rectangle img {
        width: 100%;
        top: -10px;
        right: -20px;
    }

        /*^ Tags*/
    .tag-container {
        margin-left: 45px;
    }
}

  /*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {
        /*^ MainText component*/
    .main-container {
        margin-left: 30px;
      }
      .title {
        margin-top: 10px;
    }

        /*^ NavBar component */
    .nav-bar {
        font-size: 1.6rem; /* 16px */
        margin: 10px 0px 390px 30px;
    }

        /*^ BigRectangle component */
    .big-rectangle img {
        width: 155%;
    }

        /*^ Tags*/

    .tag-container {
        margin-left: 30px;
        margin-top: 60px;
    }
}