  /*^ Social media*/
  .social {
    max-width: 90vw;
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .big {
    width: 620px;
  }

  .social a {
    padding: 10px;
  }

  .social a svg {
    transition: 0.3s;
  }

  .social a:hover svg {
    color: var(--main-color) !important;
    transform: rotate(10deg);
  }
  
  .social-bg {
    background-color: #282828;
    border-radius: 20px;
  }

/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 820px) {}

  /*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {}