 /*^ Who I Am*/
.main-w-container {
  width: 100vw;
}
div .who-t-spacing {
  margin-top: 150px;
  padding-left: 125px;
  margin-bottom: 50px;
}
 div > .who-spacing {
  padding: 0 8%;
}
.who-spacing.paragraph {
  padding-left: 0;
  padding-bottom: 25px;
} 
.sign-spacing {
  padding: 0 8%;
  transform: translateY(-30px);
}
.responsive-iframe {
  width: 46vw;
  height: calc(15vw * 1.73); /*1? The size of the youtube video will change and adapt depending on the screen width*/
}
.caveat {
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 2.4rem;
}
.resume {
  margin-top: 0 !important;
}
.resume a {
  text-decoration: none;
  color: rgb(115, 115, 115);
  transition: 0.2s;
}
.resume a:hover {
  color: rgb(78, 136, 159);
  text-decoration: underline;
}
.resume a svg {
  margin-left: 5px;
}
.g-image {
  width: 25vw;
  height: 25vw;
  margin-left: 15%;
  border-radius: 15px;
}
/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 990px) {
  div > .who-spacing {
    padding: 0 12%;
  }
  .who-spacing.paragraph {
    padding: 40px 8% 0 10%;
    padding-bottom: 0;
  } 
  .responsive-iframe {
    width: calc(46vw * 1.7);
    height: calc((15vw * 1.73) * 1.7); /*1? The size of the youtube video will change and adapt depending on the screen width*/
  }
}

/*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {
  div .who-t-spacing {
    margin-top: 70px;
    margin-bottom: 40px;
    padding-left: 10%;
  }
  .g-image {
    width: 50vw;
    height: 50vw;
    border-radius: 10px;
    margin-left: 20%;
  }
}