  /*^ Who I Am*/
.main-w-container {
  width: 100vw;
}
div .who-t-spacing {
    margin-top: 150px;
    padding-left: 125px;
    margin-bottom: 50px;
}
 div > .who-spacing {
  padding: 0 8%;
}
.who-spacing.paragraph {
  padding-left: 0;
  padding-bottom: 40px;
} 
.responsive-iframe {
  width: 46vw;
  height: calc(15vw * 1.73); /*1? The size of the youtube video will change and adapt depending on the screen width*/
}

/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 990px) {
  div > .who-spacing {
    padding: 0 12%;
  }
  .who-spacing.paragraph {
    padding: 40px 8% 0 10%;
    padding-bottom: 0;
  } 
  .responsive-iframe {
    width: calc(46vw * 1.7);
    height: calc((15vw * 1.73) * 1.7); /*1? The size of the youtube video will change and adapt depending on the screen width*/
  }
}

/*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {
  div .who-t-spacing {
    margin-top: 100px;
    padding-left: 15%;
  }
}